@model Store.Model.Models.CategorySortingType
@{
    ViewBag.Title = Model.productCategory.Name;    
}

<div class="container">
    <div class="row">
        <div class="col-md-6 text-left">Home / Tees / Page 1 of 1</div>
        <div class="col-md-6 text-right">
            <form action="/Catalogue/" class="form form-inline" id="sorter">
                Sort by:
                <input type="hidden" value="@Model.productCategory.Name" name="Collection" />
                <select style="width:100%; max-width:100px" class="option-input" onchange="sortBy()" name="sortingType">
                    @if (!Model.sortingType.Equals("") && Model.sortingType != null)
                    {
                        <option value="@Model.sortingType">@Model.sortingType</option>
                        <option disabled>-</option>
                    }
                    <option value="A-Z">A-Z</option>
                    <option value="Low-High Price">Low-High Price</option>
                    <option value="High-Low Price">High-Low Price</option>
                </select>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <br>
    <div class="row">
        <div class="col-md-12">
            <span id="title">@Model.productCategory.Name</span>
        </div>
        <div class="col-md-12 text-center">
            <img style="width:85%; height:250px; margin:auto" src="~/Content/Images/CategoryImages/@Model.productCategory.UrlImage" />
        </div>
    </div>
</div>
<div class="container">
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        @{ var notfound = "notfound.jpg"; }
        @foreach (var p in Model.productCategory.Products)
        {
            <div class="col-md-3">
                <a href="@Url.Action("Item", "Catalogue", new { id = p.Id })">
                    <img style="width:100%; height:210px; margin:auto" src="~/Content/Images/ProductImages/@if (p.Images.Count > 0) { @p.Images[0].UrlName } else { @notfound }" />
                </a>
                <a href="@Url.Action("Item", "Catalogue", new { id = p.Id })">
                    <h3>@p.Name</h3>
                </a>
                <!-- CHECK IF SOLD OUT LATER -->
                <!--<p>Sold Out</p> --> 
                <p><span class="money currency">@p.PriceEU &#8364;</span> @if (p.PriceEU != p.OriginalPriceEU) { <strike><span class="currency">@p.OriginalPriceEU &#8364;</span></strike> }</p>
                <!--CHECK IF ON SALE-->
                
                    
                    @if (p.PriceEU != p.OriginalPriceEU) {
                    <div class="sale">
                    SALE
                    </div>
                        }
                
        
                    </div>
        }
    </div>
</div>
<script>
    function sortBy() {
            $("#sorter").submit();
    }
</script>